# Telegram
BOT_TOKEN=
ADMIN_IDS=

# MongoDB Atlas
MONGODB_URI=

# Upstash Redis
REDIS_URL=

# RonzzPay (Phase 3)
# RONZZPAY_API_KEY=
# RONZZPAY_MERCHANT_ID=
# RONZZPAY_WEBHOOK_SECRET=
# RONZZPAY_BASE_URL=https://sandbox.ronzzpay.com

# App
PORT=3000
PREMIUM_PRICE=10000
PREMIUM_DURATION_DAYS=30
NODE_ENV=development
